* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #1ed760;
}

.left {
    float: left;
}

.right {
    float: right;
}